################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Neodata.CDN.vbproj/FileContentIndex
/.gitignore
/.gitignore
/.vs/Neodata.CDN.vbproj.dtbcache.json
